@CHARSET "UTF-8";

.list {
	padding-bottom: 10px;
	overflow: hidden;
}
.clear{
	clear: both;
}

.footer {
	text-align: center;
	padding: 10px 0;
}
.tagpage .label{
	margin-bottom: 5px;
    display: inline-block;
    margin-right: 3px;
}
.error{
	text-align: center;
	padding: 50px;
}
.content img{
	max-width: 100%;
	border: 0;
}
.pc_pager {
	display: none;
}

@media only screen and (min-device-width:768px) {
	.mobile_pager {
		display: none;
	}
	.pc_pager {
		display: block;
	}
}